<ol>
  <li>
    <h3> Install Node.js<br> https://nodejs.org/en/download/</h3>
  </li>
  <li>
    <h3>  Install and IDE<br> https://code.visualstudio.com/Download or https://atom.io/ or http://www.sublimetext.com/2</h3>
  </li>
  <li>
    <h3>  Install Yeoman npm install -g yo</h3>
  </li>
  <li>
    <h3>   Install AngularJS generator<br> https://github.com/yeoman/generator-angular#readme</h3>
  </li>
  <li>
    <h3> Add voice recognition API<br> https://developers.google.com/web/updates/2013/01/Voice-Driven-Web-Apps-Introduction-to-the-Web-Speech-API?hl=en</h3>
  </li>
  <li>
    <h3>  Add speach API<br> https://developers.google.com/web/updates/2014/01/Web-apps-that-talk-Introduction-to-the-Speech-Synthesis-API?hl=en</h3>
  </li>
  <li>
    <h3>  Learn at W3schools.</h3>
    <ul>
      <li>http://www.w3schools.com/html/default.asp</li>
      <li>http://www.w3schools.com/css/default.asp</li>
      <li>http://www.w3schools.com/js/default.asp</li>
      <li>http://www.w3schools.com/angular/default.asp</li>

    </ul>
  </li>
</ol>
